# Build output
bin/
obj/
out/
Debug/
Release/

# User-specific files
*.user
*.suo
*.userosscache
*.sln.docstates

# Visual Studio cache
.vs/

# NuGet
*.nupkg
*.snupkg
project.lock.json
artifacts/
packages/

# Resharper / Rider
_ReSharper*/
*.DotSettings.user
.idea/

# Logs
*.log

# Secret configs
appsettings.Development.json
appsettings.Local.json
